<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <span
        (click)="back()"
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        style="font-weight: bold; cursor: pointer"
      ></span
      >&nbsp;&nbsp;
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="12"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="aboutsearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder=" Search Record"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <!-- <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Charges
        </button>
      </nz-form-item> -->
      <!-- <nz-form-item>
        <button
          nz-button
          nzType="default"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure you want to delete selected records?"
          nzPopconfirmPlacement="top"
          (nzOnConfirm)="bulkDelete()"
          nzOkText="Yes"
          nzCancelText="No"
          [disabled]="selectedRows.length === 0 || selectedRows.length < 2"
          style="color: rgb(23, 99, 34); margin-left: 10px"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </nz-form-item> -->
    </form>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24" style="width: 100%">
    <nz-table
      nzBordered
      #unitMasterTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzScroll]="{ y: '64vh' }"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
      style="width: 100%"
    >
      <thead>
        <tr>
          <!-- <th nzWidth="8px" style="text-align: center"><b>Action</b></th> -->
          <th
            nzColumnKey="CUSTOMER_NAME"
            [nzSortFn]="true"
            nzWidth="20px"
            style="text-align: center"
          >
            <b>Customer Name</b>
          </th>
          <th
            nzColumnKey="REVIEW"
            [nzSortFn]="true"
            nzWidth="60px"
            style="text-align: center"
          >
            <b>Review</b>
          </th>
          <th
            nzColumnKey="RATINGS"
            [nzSortFn]="true"
            nzWidth="25px"
            style="text-align: center"
          >
            <b>Ratings</b>
          </th>
          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="15px"
            style="text-align: center"
          >
            <b> Status </b>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of unitMasterTable.data">
          <!-- <td style="text-align: center">
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="cursor: pointer; font-size: 15px; color: #5a8f69"
              nzTooltipTitle="Edit"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="edit(data)"
            ></span>
          </td> -->

          <td style="text-align: left">{{ data["CUSTOMER_NAME"] }}</td>

          <!-- Review Column with Tooltip and Ellipsis -->
          <td style="text-align: left">
            <div
              nz-tooltip
              [nzTooltipTitle]="data['REVIEW']"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0 auto;
              "
            >
              {{ data["REVIEW"] || "-" }}
            </div>
          </td>

          <!-- Ratings Column -->
          <td style="text-align: center">
            <nz-rate
              [ngModel]="data['RATINGS']"
              [nzDisabled]="true"
              nzAllowHalf
            ></nz-rate>
          </td>
          <td style="text-align: center">
            <!-- <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i> -->
            <nz-switch
              name="status"
              [(ngModel)]="data.STATUS"
              (ngModelChange)="onChangeStatus(data,$event)"
            >
            </nz-switch>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzClosable]="true"
  [nzMask]="true"
  [nzMaskClosable]="false"
  [nzWidth]="500"
  [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="drawerClose()"
  (nzKeyboard)="(true)"
>
  <ng-container *nzDrawerContent>
    <!-- <app-addunit></app-addunit> -->
    <app-reveiwenabledisabledrawer
      [drawerClose]="closeCallback"
      [drawerVisible]="drawerVisible"
      [data]="drawerData"
    ></app-reveiwenabledisabledrawer>
  </ng-container>
</nz-drawer>
