<div>
  <form nz-form #websitebannerPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row class="my-box">
        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Customer Name </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid Customer Name ">
              <input nz-input name="name" [(ngModel)]="customerName" maxlength="512" (keypress)="alphaOnly($event)"
                placeholder="Enter Customer Name" autocomplete="off" disabled (focus)="isFocused = 'customer'"
                (blur)="isFocused = ''" required />
            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'customer' || (data.NAME && isFocused === 'customer')">
              {{ data.NAME.length || 0 }}/512
            </h6>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Mobile Number </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid Mobile Number">
              <nz-input-group style="width: 100%">
                <input nz-input name="mobileno" [(ngModel)]="custMobileNo" maxlength="12" [pattern]="mobpattern"
                  (keypress)="omit1($event)" disabled style="width: 100%" placeholder="Enter Mobile No" required />
              </nz-input-group>
            </nz-form-control>

          </nz-form-item>
        </div>
      </div>
      <div nz-row class="my-box">
        <div nz-col nzSpan="24">
          <nz-form-label style="margin-left: 10px" nzRequired nzNoColon>
            Address
          </nz-form-label>
          <nz-form-item>
            <nz-form-control nzErrorTip=" Please Enter Valid Address ">
              <textarea rows="3" nz-input [(ngModel)]="data.ADDRESS" maxlength="512" name="text" required
                placeholder="Enter Address" autocomplete="off" (focus)="isFocused = 'address'"
                (blur)="isFocused = ''"></textarea>

            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'address' || (data.ADDRESS && isFocused === 'address')">
              {{ data.ADDRESS.length || 0 }}/512
            </h6>
          </nz-form-item>
        </div>


        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Country </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Select Correct Country">
              <nz-select name="Country" nzAllowClear nzShowSearch maxlength="256" style="width: 100%"
                [(ngModel)]="data.COUNTRY_ID" nzPlaceHolder="Select Country" (ngModelChange)="FilterCountry($event)"
                required>
                <nz-option *ngFor="let item of country" [nzLabel]="item.NAME" [nzValue]="item.ID">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> State </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Select Correct State">
              <nz-select name="state" nzAllowClear nzShowSearch maxlength="256" style="width: 100%"
                [(ngModel)]="data.STATE_ID" nzPlaceHolder="Select State" [nzLoading]="isloadstate" required>
                <nz-option *ngFor="let item of state" [nzLabel]="item.NAME" [nzValue]="item.ID">
                </nz-option>
                <!-- <nz-option [nzLabel]=" 'Kilogram' " [nzValue]="'KG'"> </nz-option>             -->
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> City </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid City">
              <input nz-input name="city" [(ngModel)]="data.CITY" maxlength="256" (keypress)="alphaOnly($event)"
                required placeholder="Enter City" autocomplete="off" (focus)="isFocused = 'cityy'"
                (blur)="isFocused = ''" />
            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'cityy' || (data.CITY && isFocused === 'cityy')">
              {{ data.CITY.length || 0 }}/256
            </h6>
          </nz-form-item>
        </div>




        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Zipcode </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid Zipcode">
              <nz-input-group style="width: 100%">
                <input nz-input name="pincode" [(ngModel)]="data.PINCODE" maxlength="5" maxlength="5"
                  [pattern]="pincode" (keypress)="omit($event)" style="width: 100%" required
                  placeholder="Enter Zipcode" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon> LandMark </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid Landmark ">
              <input nz-input name="landmark" [(ngModel)]="data.LANDMARK" maxlength="256" (keypress)="alphaOnly($event)"
                required placeholder="Enter Landmark" autocomplete="off" (focus)="isFocused = 'landmark'"
                (blur)="isFocused = ''" />
            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'landmark' || (data.LANDMARK && isFocused === 'landmark')">
              {{ data.LANDMARK.length || 0 }}/256
            </h6>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon> Area </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Valid Area ">
              <input nz-input name="locality" [(ngModel)]="data.LOCALITY" maxlength="30" (keypress)="alphaOnly($event)"
                required placeholder="Enter Area" autocomplete="off" (focus)="isFocused = 'area'"
                (blur)="isFocused = ''" />
            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'area' || (data.LOCALITY && isFocused === 'area')">
              {{ data.LOCALITY.length || 0 }}/30
            </h6>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>
      </div>

      <div nz-row class="my-box">
        <!-- <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Address Type </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Select Address Type"
            >
              <nz-select
                name="addresstype"
                nzAllowClear
                nzShowSearch
                style="width: 100%"
                [(ngModel)]="data.ADDRESS_TYPE"
                nzPlaceHolder=" Select Address Type"
                required
              >
                
                <nz-option [nzLabel]="'Home'" [nzValue]="'H'"> </nz-option>
                <nz-option [nzLabel]="'Work'" [nzValue]="'W'"> </nz-option>

              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div> -->

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Address Type</nz-form-label>
            <nz-form-control nzErrorTip="Please Select Address Type">
              <nz-radio-group name="address" [(ngModel)]="data.ADDRESS_TYPE">
                <label nz-radio [nzValue]="'R'">Residential</label>

                <label nz-radio [nzValue]="'O'">Office</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8" style="margin-left: 20px">
          <nz-form-item>
            <nz-form-label nzNoColon> Mark Default Address </nz-form-label>
            <nz-form-control>
              <nz-switch name="unitstatus" [(ngModel)]="data.IS_DEFUALT_ADDRESS"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
      <span> Cancel </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false, websitebannerPage)">
      <span> Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
          <a style="color: white" (click)="save(true, websitebannerPage)">
            Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false, websitebannerPage)">
      <span> Update & Close</span>
    </button>
  </div>
</div>