<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="12"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="aboutsearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder=" Search Record"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <!-- <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New FAQ
        </button> -->
        <!-- <nz-tooltip
          [nzTooltipTitle]="dataList.length >= 5 ? `Can't add more than 5 FAQ's` : null"
        > -->
        <button
          nz-button
          nzType="primary"
          (click)="add()"
          [disabled]="dataList.length >= 5"
        >
          <i nz-icon nzType="plus"></i>
          Add New FAQ
        </button>

        <!-- </nz-tooltip> -->
      </nz-form-item>
      <!-- <nz-form-item>
        <button
          nz-button
          nzType="default"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure you want to delete selected records?"
          nzPopconfirmPlacement="top"
          (nzOnConfirm)="bulkDelete()"
          nzOkText="Yes"
          nzCancelText="No"
          [disabled]="selectedRows.length === 0 || selectedRows.length < 2"
          style="color: rgb(23, 99, 34); margin-left: 10px"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </nz-form-item> -->
    </form>
  </div>
  <!-- Message when more than 5 -->
  <div
    nz-col
    nzSpan="24"
    style="
      display: flex;
      justify-content: flex-end;
      text-align: end;
      color: red;
      font-size: 11px;
    "
    *ngIf="dataList.length >= 5"
    class="text-red-500 text-sm block mt-1"
  >
    Can't add more than 5 FAQ's
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="24" style="width: 100%">
    <nz-table
      nzBordered
      #unitMasterTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzScroll]="{ y: '64vh' }"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th nzWidth="9px" style="text-align: center"><b> Action </b></th>

          <th
            nzColumnKey="{{ 'QUESTION' }}"
            [nzSortFn]="true"
            nzWidth="32px"
            style="text-align: center"
          >
            <b>Question</b>
          </th>
          <th
            nzColumnKey="{{ 'ANSWER' }}"
            [nzSortFn]="true"
            nzWidth="32px"
            style="text-align: center"
          >
            <b>Answer </b>
          </th>

          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="15px"
            style="text-align: center"
          >
            <b> Status </b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of unitMasterTable.data">
          <td style="text-align: center">
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="
                cursor: pointer;
                font-size: 15px !important;
                color: #5a8f69;
              "
              nzTooltipTitle="Edit"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="edit(data)"
            >
            </span>
              <span
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete this record?"
              nzPopconfirmPlacement="top"
              (nzOnConfirm)="deleteSingleRecord(data)"
              style="
                cursor: pointer;
                font-size: 15px !important;
                color: #5a8f69;
                margin-left: 8px;
              "
              nzTooltipTitle="Delete"
              nzTooltipPlacement="top"
              nz-tooltip
            >
              <i nz-icon nzType="delete"></i>
            </span>
          </td>

          <td style="white-space: pre-line">{{ data["QUESTION"] }}</td>
          <td style="white-space: pre-line">{{ data["ANSWER"] }}</td>

          <td style="text-align: center">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="500"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <!-- <app-addunit></app-addunit> -->
      <app-faqadd
        [drawerClose]="closeCallback"
        [drawerVisible]="drawerVisible"
        [data]="drawerData"
        [productId]="productId"
      ></app-faqadd>
    </ng-container>
  </nz-drawer>
</div>

<div class="footer">
  <button
    type="button"
    nz-button
    (click)="close()"
    class="ant-btn"
    style="margin-right: 8px"
  >
    <span> Cancel </span>
  </button>
</div>
