<div>
  <!-- <form nz-form #form10> -->
  <form nz-form #websitebannerPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>
                  Customer Name
                </nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  nzErrorTip=" Please Enter Full Name Of Customer"
                >
                  <input
                    nz-input
                    name="Name"
                    maxlength="128"
                    (keypress)="alphaOnly($event)"
                    [(ngModel)]="data.NAME"
                    placeholder="Enter Customer Name"
                    autocomplete="off"
                      (focus)="isFocused = 'customer'" (blur)="isFocused = ''"
                    required
                  />
                </nz-form-control>
                 <h6 style="color: red; font-size: 10px" *ngIf="
                isFocused === 'customer' ||
                (data.NAME && isFocused === 'customer')
              ">
              {{ data.NAME.length || 0 }}/128
            </h6>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="14">
              <nz-form-item>
                <nz-form-label  nzNoColon>Email ID</nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  nzErrorTip="Please Enter Valid Email"
                >
                  <input
                    nz-input
                    name="email"
                    maxlength="64"
                    email
                    placeholder="Enter Email Id"
                    [(ngModel)]="data.EMAIL_ID"
                     autocomplete="off"
                      (focus)="isFocused = 'email'" (blur)="isFocused = ''"
                  />
                </nz-form-control>
                 <h6 style="color: red; font-size: 10px" *ngIf="
                isFocused === 'email' ||
                (data.EMAIL_ID && isFocused === 'email')
              ">
              {{ data.EMAIL_ID.length || 0 }}/64
            </h6>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="10">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon
                  >Mobile Number
                </nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  nzErrorTip="Please Enter Valid Mobile Number"
                >
                  <input
                    nz-input
                    name="mobileno"
                    [pattern]="mobpattern"
                    maxlength="12"
                    placeholder="Enter Mobile No"
                    (keypress)="omit($event)"
                    [(ngModel)]="data.MOBILE_NO"
                    required
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- <div nz-row class="my-box"> -->
            <!-- <div nz-col nzSpan="24" style="margin-left: 125px;">
  <h3 > <b>Customer Login Credentials</b> </h3>

</div> -->

            <!-- <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon
                  >Mobile Number
                </nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  nzErrorTip="Please Enter Valid Mobile Number"
                >
                  <input
                    nz-input
                    name="mobileno"
                    [pattern]="mobpattern"
                    maxlength="10"
                    (keypress)="omit($event)"
                    [(ngModel)]="data.MOBILE_NO"
                    required
                  />
                </nz-form-control>
              </nz-form-item>
            </div> -->

            <!-- <div nz-col nzSpan="12" style="margin-top: 32px;">
              <button
                type="button"
                nz-button
                (click)="onLoginButtonClick()"
                class="ant-btn"
                style="margin-right: 4px"
              >
                <span> Login As A Customer </span>
              </button>
            </div> -->

            <!-- <div nz-col nzSpan="12" >
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Password </nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  nzErrorTip=" Enter minimum 8 alphanumeric characters with special symbols"
                >
                  <input
                    nz-input
                    name="Password"
                    [pattern]="expression"
                    minlength ="8"
                    [(ngModel)]="data.PASSWORD"
                    required
                  />
                </nz-form-control>
              </nz-form-item>
            </div> -->

            <!-- <div nz-col nzSpan="24" style="margin-top: 20px;">
              <h6 style="color: red;">*Note: Enter minimum 8 alphanumeric characters with special symbols.</h6>

            </div> -->
          <!-- </div> -->

          <div nz-row>
            <div nz-col nzSpan="8" style="margin-left: 10px">
              <nz-form-item>
                <nz-form-label nzNoColon> Status </nz-form-label>
                <nz-form-control>
                  <nz-switch
                    name="unitstatus"
                    [(ngModel)]="data.STATUS"
                  ></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button
      type="button"
      nz-button
      (click)="close()"
      class="ant-btn"
      style="margin-right: 8px"
    >
      <span> Cancel </span>
    </button>
    <button
      type="button"
      class="ant-btn ant-btn-primary"
      *ngIf="!data.ID"
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu"
      (click)="save(false, websitebannerPage)"
    >
      <span> Save & Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="menuc"
          style="border-radius: 4px; background-color: #40a9ff"
        >
          <a style="color: white" (click)="save(true, websitebannerPage)">
            Save & New</a
          >
        </li>
      </ul>
    </nz-dropdown-menu>
    <button
      type="button"
      class="ant-btn ant-btn-primary"
      nz-button
      [nzLoading]="isSpinning"
      *ngIf="data.ID"
      (click)="save(false, websitebannerPage)"
    >
      <span> Update & Close</span>
    </button>
  </div>
</div>

<!-- <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px" >
      <span>रद्द करा</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID"  nz-button
      nz-dropdown
      [nzDropdownMenu]="menu"
      (click)="save(false,websitebannerPage)"
    >
    <span>जतन आणि बंद</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="menuc"
          style="border-radius: 4px; background-color: #40a9ff"
        >
          <a style="color: white" (click)="save(true,websitebannerPage)">जतन आणि नवीन
          </a>
        </li> 
      </ul>
    </nz-dropdown-menu>
    <button
      type="button"
      class="ant-btn ant-btn-primary"
      nz-button
      [nzLoading]="isSpinning"
      *ngIf="data.ID"
      (click)="save(false,websitebannerPage)" 
    >
      <span>बदला आणि बंद</span>
    </button>
  </div> -->
