<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <span
        (click)="back()"
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        style="font-weight: bold; cursor: pointer"
      ></span
      >&nbsp;&nbsp;
      <b>{{ formTitle }}</b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="12"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="categorysearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder=" Search Record"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Category
        </button>
      </nz-form-item>
         <nz-form-item>
<button
  nz-button
  nzType="default"
  nz-popconfirm
  nzPopconfirmTitle="Are you sure you want to delete selected records?"
  nzPopconfirmPlacement="top"
  (nzOnConfirm)="bulkDelete()"
  [disabled]="selectedRows.length < 2"
  style="color: rgb(23, 99, 34); margin-left: 10px;"
>
  <i nz-icon nzType="delete"></i>
</button>

</nz-form-item>
    </form>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      nzBordered
      #categoryMasterTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzScroll]="dataList.length > 10 ? { x: '1330px', y: '64vh' } : { x: '1330px' }"

      [nzScroll]="{ y: '64vh' }"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
    >
      <thead>
        <tr>
           <th nzWidth="9px" nzLeft style="text-align: center">
  <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="checkAll($event)">
    Select All
  </label>
</th>
          <th nzLeft nzWidth="6px" style="text-align: center">
            <b> Action </b>
          </th>
          <th
            nzColumnKey="{{ 'SEQUENCE_NO' }}"
            [nzSortFn]="true"
            nzWidth="8px"
            style="text-align: center"
          >
            <b> Seq. No. </b>
          </th>
          <th
            nzColumnKey="{{ 'CATEGORY_NAME' }}"
            [nzSortFn]="true"
            nzWidth="50px"
            style="text-align: center"
          >
            <b> Category Name </b>
          </th>

          <th
            nzColumnKey="{{ 'SHORT_CODE' }}"
            [nzSortFn]="true"
            nzWidth="13px"
            style="text-align: center"
          >
            <b> Short Code </b>
          </th>
          <!-- <th *ngFor="let column of columns" nzColumnKey="{{column[0]}}" [nzSortFn]="true">{{column[1]}}</th> -->
          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="8px"
            style="text-align: center"
          >
            <b> Status </b><ng-container *ngIf="toggleVisible">
  <div (click)="$event.stopPropagation()">
    <nz-switch [(ngModel)]="headerToggles.STATUS"
               (ngModelChange)="bulkUpdate('STATUS', $event)">
    </nz-switch>
  </div>
</ng-container>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of categoryMasterTable.data">
           <td nzLeft style="text-align: center">
  <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="onRowChecked(data)"></label>
</td>
          <td nzLeft style="text-align: center">
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="
                cursor: pointer;
                font-size: 15px !important;
                color: #5a8f69;
                margin-left: 8px;
              "
              nzTooltipTitle="Edit"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="edit(data)"
            >
            </span>
            <span
  *ngIf="selectedRows.length === 1 && selectedRows[0].ID === data.ID"
  nz-popconfirm
  nzPopconfirmTitle="Are you sure you want to delete this record?"
  nzPopconfirmPlacement="top"
  (nzOnConfirm)="bulkDelete()"
  style="cursor: pointer; font-size: 15px !important;color: #5a8f69; margin-left: 8px;"
  nzTooltipTitle="Delete"
  nzTooltipPlacement="top"
  nz-tooltip>
  <i nz-icon nzType="delete"></i>
</span>

          </td>
          <td style="text-align: center">{{ data["SEQUENCE_NO"] }}</td>
          <td style="white-space: pre-line">{{ data["CATEGORY_NAME"] }}</td>
          <td style="white-space: pre-line">{{ data["SHORT_CODE"] }}</td>
          <!-- <td *ngFor="let column of columns" style="white-space: pre-line;">{{data[column[0]]}}</td> -->
          <td style="text-align: center">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzClosable]="true"
  [nzMask]="true"
  [nzMaskClosable]="false"
  [nzWidth]="440"
  [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="drawerClose()"
  (nzKeyboard)="(true)"
>
  <ng-container *nzDrawerContent>
    <!-- <app-addcategories></app-addcategories> -->
    <app-addcategories
      [drawerClose]="closeCallback"
      [drawerVisible]="drawerVisible"
      [data]="drawerData"
    ></app-addcategories>
  </ng-container>
</nz-drawer>
