<div nz-row nzType="flex" >
    <div nz-col nzXs="20" nzSm="20" nzMd="16" nzLg="16" nzXl="8" >
       <div class="formname" ><span
        (click)="back()"
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        style="font-weight: bold; cursor: pointer"
      ></span
      >&nbsp;&nbsp;  <b> {{formTitle}} </b></div> 
    </div>
  
      <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="16" style="display: flex;justify-content: flex-end">
          <form nz-form [nzLayout]="'inline'">
                           <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" name="contactsearch" (keyup)="keyup($event)" [(ngModel)]="searchText" nz-input placeholder=" Search Record"  />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="search(true)" nzSearch><i nz-icon nzType="search"></i></button>
              </ng-template>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" *ngIf="datacount >= 1 ? false : true" nzJustify="end">
                    <i nz-icon nzType="plus"></i> Add New Contact Information
                  </button>
            </nz-form-item>
    
          </form>
        </div>
</div>
<br />
<div nz-row >
    <div nz-col nzSpan="24" style="width: 100%;">
        <nz-table  
        nzBordered
        #contactInfoTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataList"
        [nzScroll]="{ x: '970px' , y: '410px'}"
        [nzLoading]="loadingRecords"
        [nzSize]="'small'"
        [nzTotal]="totalRecords"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="search()"
        (nzPageSizeChange)="search(true)"
        (nzQueryParams)="sort($event)"
        style="width: 100%;"
      >
   
        <thead>
          <tr>
             <th nzWidth="2px" style="text-align: center;" ><b> Action </b></th>
             <th nzColumnKey="{{ 'EMAIL_ID' }}"[nzSortFn]="true" nzWidth="5px" style="text-align: center;"><b> Email ID </b></th>
             <th nzColumnKey="{{ 'CONTACT_NO' }}"[nzSortFn]="true" nzWidth="3px" style="text-align: center;"><b> Contact No. </b></th>
             <th nzColumnKey="{{ 'WHATSAPP_NO' }}"[nzSortFn]="true" nzWidth="3px" style="text-align: center;"><b> Whatsapp No. </b></th>
             <th nzColumnKey="{{ 'LONGITUDE' }}"[nzSortFn]="true" nzWidth="4px" style="text-align: center;"><b> Longitude </b></th>
             <th nzColumnKey="{{ 'LATITUDE' }}"[nzSortFn]="true" nzWidth="4px" style="text-align: center;"><b> Latitude  </b></th>             
            <!-- <th *ngFor="let column of columns" nzColumnKey="{{column[0]}}" [nzSortFn]="true">{{column[1]}}</th> -->
            <!-- <th>Is Active</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of contactInfoTable.data" >
            <td style="text-align: center;">
              <!-- <a (click)="edit(data)"> Edit </a> -->
                   <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="
                cursor: pointer;
                font-size: 15px !important;
                color: #5a8f69;
                margin-left: 8px;
              "
              nzTooltipTitle="Edit"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="edit(data)"
            >
            </span>
            </td>
            <td style="text-align: left;">
              <!-- {{data['EMAIL_ID']}} -->
               <span *ngIf="data['EMAIL_ID'] != null">
              <span
                *ngIf="data['EMAIL_ID'].length >= 30"
                [nzPopoverContent]="data['EMAIL_ID']"
                nz-popover
                nzPopoverPlacement="topLeft"
              >
                {{
                  data["EMAIL_ID"] == null
                    ? "-"
                    : (data["EMAIL_ID"] | slice : 0 : 30)
                }}{{ data["EMAIL_ID"].length > 30 ? "..." : "" }}
              </span>
              <span *ngIf="data['EMAIL_ID'].length < 30">
                {{
                  data["EMAIL_ID"] == null
                    ? "-"
                    : (data["EMAIL_ID"] | slice : 0 : 30)
                }}{{ data["EMAIL_ID"].length > 30 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['EMAIL_ID'] == null">-</span>
            </td>
            <td style="white-space: pre-line;text-align: center;">{{data['CONTACT_NO']}}</td>
            <td style="white-space: pre-line;text-align: center;">{{data['WHATSAPP_NO']}}</td>
            <td style="white-space: pre-line;">{{data['LONGITUDE']}}</td>
            <td style="white-space: pre-line;">{{data['LATITUDE']}}</td>

            <!-- <td *ngFor="let column of columns" style="white-space: pre-line;">{{data[column[0]]}}</td> -->
            <!-- <td>
              <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#52c41a'"></i>
              <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                [nzTwotoneColor]="'#f50'"></i>
            </td> -->
          </tr>
        </tbody>
      </nz-table>
      </div>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
[nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000"
[nzVisible]="drawerVisible" [nzTitle]="drawerTitle" 
(nzOnClose)="drawerClose()" (nzKeyboard)="true">
<ng-container *nzDrawerContent>
<app-addcontact [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"></app-addcontact>
</ng-container>
</nz-drawer>

