<div>
  <!-- <form nz-form #form2> #websitebannerPage="ngForm" -->
  <!-- <form nz-form #websitebannerPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>
              Category Name(English)
            </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Category Name(English) "
            >
              <input
                nz-input
                name="categoryname"
                [(ngModel)]="data.CATEGORY_NAME"
                maxlength="128"
                (keypress)="alphaOnly($event)"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>
              Category Name(Marathi)
            </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Category Name(Marathi) "
            >
              <input
                nz-input
                name="categorynamemr"
                [(ngModel)]="data.CATEGORY_NAME_MR"
                maxlength="128"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Short Code </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Short Code "
            >
              <input
                nz-input
                name="shortcode"
                [(ngModel)]="data.SHORT_CODE"
                maxlength="16"
                (keypress)="numchar($event)"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Seq. No. </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Sequence Number "
            >
              <input
                nz-input
                name="categoryseq"
                style="width: 100%"
                [(ngModel)]="data.SEQUENCE_NO"
                (keypress)="omit($event)"
                maxlength="5"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8" style="margin-left: 10px">
          <nz-form-item>
            <nz-form-label nzNoColon> Status </nz-form-label>
            <nz-form-control>
              <nz-switch name="status" [(ngModel)]="data.STATUS"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Image </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Select Valid Image"
            >
              <button
                nz-button
                style="height: 28px; padding: 0px 7px; font-size: 12px"
                (click)="fileInput.click()"
              >
                Select Image
                <input
                  #fileInput
                  name="image"
                  accept=".png, .jpg, .jpeg"
                  [(ngModel)]="data.IMAGE"
                  type="file"
                  (change)="onFileSelected($event)"
                  style="display: none"
                  required
                />
              </button>
            </nz-form-control>
          </nz-form-item>
          <div
            nz-col
            nzSpan="23"
            *ngIf="fileURL != null"
            style="overflow: hidden; padding-left: 11px; font-size: 13px"
          >
            {{ fileURL.name }}
          </div>
        </div>
        <div nz-col nzSpan="24" *ngIf="fileURL == null && data.IMAGE != ''">
          <img
            style="width: 50%; height: 180px; margin-left: 10px"
            src="{{ imgurl }}categoryImage/{{ data.IMAGE }}"
          />
          <button
            (click)="removeImage()"
            [nzSize]="'default'"
            nz-button
            style="margin-left: 5%; margin-top: 10px"
          >
            <nz-badge>
              <i
                style="font-size: 15px; color: red"
                nz-icon
                nzType="delete"
              ></i>
            </nz-badge>
          </button>
        </div>
      </div>
    </nz-spin>
  </form> -->
</div>

<div>
  <form nz-form #accountMasterPage="ngForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Category Name</nz-form-label>
          <nz-form-control
            nzHasFeedback
            nzErrorTip="Please Enter Category Name"
          >
            <input
              nz-input
              autocomplete="off"
              placeholder="Enter Category Name"
              (keypress)="commonFunction.allowOnly($event)"
              maxlength="128"
              name="name"
              [(ngModel)]="data.CATEGORY_NAME"
              required
              (focus)="isFocused = 'categoryName'"
              (blur)="isFocused = ''"
            />
          </nz-form-control>
          <!-- Dynamic Character Count -->
          <h6
            style="color: red; font-size: 10px"
            *ngIf="
              isFocused === 'categoryName' ||
              (data.CATEGORY_NAME && isFocused === 'categoryName')
            "
          >
            {{ data.CATEGORY_NAME.length || 0 }}/128
          </h6>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="9">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon> Short Code </nz-form-label>
          <nz-form-control
            nzHasFeedback
            nzErrorTip=" Please Enter Correct Short Code "
          >
            <input
              nz-input
              name="shortcode"
              placeholder="Short Code"
              [(ngModel)]="data.SHORT_CODE"
              maxlength="4"
               #name="ngModel"
              (keypress)="numchar($event)"
              (ngModelChange)="data.SHORT_CODE = ($event || '').toUpperCase()" 
              required
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="9">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
            <input
              nz-input
              placeholder="Sequence No."
              name="SeqNo"
              style="width: 130px"
              required
              [(ngModel)]="data.SEQUENCE_NO"
              required
              #seqNo="ngModel"
              (keypress)="commonFunction.onlynum($event)"
              maxlength="8"
              autocomplete="off"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label nzNoColon>Status</nz-form-label>

          <nz-form-control>
            <nz-switch
              name="Status"
              nzCheckedChildren="Active"
              nzUnCheckedChildren="Inactive"
              [(ngModel)]="data.STATUS"
            >
            </nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <!-- <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzNoColon>Image </nz-form-label>
            <nz-form-control nzErrorTip="Select Logo.">
              <button
                nz-button
                style="
                  height: 28px;
                  padding: 0px 7px;
                  font-size: 12px;
                  width: 100%;
                "
                (click)="fileInput.click()"
              >
                Upload Image
                <input
                  #fileInput
                  name="image"
                  type="file"
                  (change)="onFileSelected($event)"
                  style="display: none"
                  required
                />
              </button>
            </nz-form-control>
          </nz-form-item>
          <div
            nz-col
            nzSpan="23"
            *ngIf="fileURL != null"
            style="overflow: hidden; padding-left: 11px; font-size: 13px"
          >
            {{ fileURL.name }}
          </div>
          <div *ngIf="imgUrl != null">
            {{ imgUrl.name }}

            <p
              nz-icon
              nzType="delete"
              nzTheme="outline"
              nzTooltipTitle="Remove Image"
              nzTooltipPlacement="top"
              nz-tooltip
              style="cursor: pointer; color: red; margin-top: 10px"
              (click)="removeImage()"
            ></p>
          </div>
        </div> -->

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzNoColon nzRequired
            >Image&nbsp;<span
              nz-icon
              nzType="info-circle"
              nzTheme="twotone"
              nz-tooltip
              nzTooltipTitle=" Please select an image file (PNG, JPG, JPEG) with a image
              dimension 200*200."
            ></span>
            <span
              *ngIf="(data.IMAGE && data.IMAGE != ' ') || fileURL"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete?"
              nzPopconfirmPlacement="top"
              (nzOnConfirm)="image1DeleteConfirm(data)"
              (nzOnCancel)="deleteCancel()"
              style="cursor: pointer; color: red; margin-left: 10px"
            >
              <span
                nz-icon
                nzType="delete"
                nzTheme="twotone"
                [nzTwotoneColor]="'#FF0000'"
                nz-tooltip
                nzTooltipTitle="Delete"
              ></span>
            </span>
          </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Select Category Icon">
            <button
              *ngIf="!fileURL && (!data.IMAGE || data.IMAGE.trim() === '')"
              nz-button
              style="
                height: 28px;
                padding: 0px 7px;
                font-size: 10px;
                width: 40%;
              "
              (click)="image1.click()"
            >
              Upload Image
              <input
                #image1
                name="image1"
                type="file"
                accept=".png, .jpg, .jpeg"
                style="display: none"
                (change)="onFileSelected($event)"
              />
              <!-- (change)="fileChangeEvent($event)" -->
            </button>

            <div
              *ngIf="
                data.IMAGE &&
                data.IMAGE != null &&
                data.IMAGE != undefined &&
                data.IMAGE != ' ' &&
                data.IMAGE != '' &&
                (fileURL == undefined || fileURL == null || fileURL == '')
              "
              style="margin-top: 10px"
            >
              <img
                nz-image
                [nzSrc]="fullImageUrl"
                alt="Uploaded Image"
                style="
                  width: 128px;
                  height: auto;
                  border: 1px solid #ddd;
                  margin-bottom: 10px;
                "
              />
              <!-- <img [src]="fullImageUrl" width="128" /> -->
            </div>
            <div
              *ngIf="
                fileURL != undefined &&
                fileURL != null &&
                fileURL != '' &&
                fileURL != ' '
              "
              class="ss"
              style="align-items: center"
            >
              <img
                nz-image
                [nzSrc]="imagePreview"
                alt="Preview"
                style="
                  height: 128px;
                  width: 128px;
                  overflow: auto;
                  /* max-width: 128;
                  max-height: 128; */
                "
              />
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- </nz-spin> -->
  </form>

  <div class="footer">
    <button
      type="button"
      nz-button
      style="margin-right: 8px"
      class="ant-btn"
      style="margin-right: 8px"
      (click)="close(accountMasterPage)"
    >
      <span>Cancel</span>
    </button>

    <button
      type="button"
      class="ant-btn ant-btn-primary"
      *ngIf="!data.ID"
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning"
      (click)="save(false, accountMasterPage)"
    >
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="menuc"
          style="border-radius: 4px; color: white !important"
        >
          <a
            (click)="save(true, accountMasterPage)"
            style="color: white !important"
            >Save & New</a
          >
        </li>
      </ul>
    </nz-dropdown-menu>

    <button
      type="button"
      class="ant-btn ant-btn-primary"
      nz-button
      [nzLoading]="isSpinning"
      *ngIf="data.ID"
      (click)="save(false, accountMasterPage)"
    >
      <span>Update & close</span>
    </button>
  </div>

  <nz-modal
    [nzWidth]="900"
    [(nzVisible)]="ImageModalVisible"
    nzMaskClosable="false"
    nzClosable="false"
    [nzContent]="content"
    [nzTitle]="'Image View'"
    (nzOnCancel)="ImageModalCancel()"
    [nzFooter]="ImageModalFooter"
  >
    <ng-template #content>
      <nz-spin [nzSpinning]="isSpinning">
        <div
          *ngIf="imageshow != undefined && imageshow != null && imageshow != ''"
          class="ss"
          style="height: 400px; overflow: auto"
        >
          <iframe
            [src]="imageshow"
            style="width: 832px; height: 396px"
            frameborder="0"
          ></iframe>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #ImageModalFooter>
      <button nz-button nzType="default" (click)="ImageModalCancel()">
        Close
      </button>
    </ng-template>
  </nz-modal>
  <nz-modal
    [nzWidth]="500"
    [nzStyle]="{ 'margin-top': '-80px' }"
    [(nzVisible)]="CropImageModalVisible"
    nzMaskClosable="false"
    nzClosable="false"
    [nzContent]="content2"
    [nzTitle]="'Crop Image'"
    (nzOnCancel)="CropImageModalCancel()"
    [nzFooter]="CropImageModalFooter"
  >
    <ng-template #content2>
      <nz-spin [nzSpinning]="isSpinningCrop">
        <div
          *ngIf="
            cropimageshow != undefined &&
            cropimageshow != null &&
            cropimageshow != ''
          "
          class="ss"
          style="height: 400px; overflow: scroll"
        >
          <!-- <iframe
          [src]="cropimageshow"
          style="width: 832px; height: 396px"
          frameborder="0"
        ></iframe> -->
          <div *ngIf="croppedImage" style="text-align: center">
            <p>Cropped Image:</p>
            <img [src]="croppedImage" width="200" height="200" />
          </div>
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [cropper]="cropperPosition"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            [imageQuality]="100"
            (cropperReady)="cropperReady($event)"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
      </nz-spin>
    </ng-template>
    <ng-template #CropImageModalFooter>
      <button nz-button nzType="default" (click)="CropImageModalCancel()">
        Close
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="onFileSelected(imageChangedEvent)"
      >
        Upload
      </button>
    </ng-template>
  </nz-modal>
</div>
