<div>
  <form nz-form #websitebannerPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Unit Name </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Unit Name "
            >
              <input
                nz-input
                name="unitname"
                [(ngModel)]="data.UNIT_NAME"
                placeholder="Enter unit name"
                maxlength="128"
                (keypress)="alphaOnly($event)"
                (focus)="isFocused = 'unit'"
                required
              />
            </nz-form-control>
            <h6 style="color: red; font-size: 10px" *ngIf="isFocused === 'unit' || (data.UNIT_NAME && isFocused === 'unit')">
              {{ data.UNIT_NAME.length || 0 }}/128
            </h6>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon> Seq. No. </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip=" Please Enter Correct Sequence Number "
            >
              <!-- <nz-input-number name="unitseq"  style="width: 100%;"  [(ngModel)]="data.SEQUENCE_NO" [nzMin]="1"  [nzStep]="1" (keypress)="omit($event)" required></nz-input-number> -->
              <input
                nz-input
                name="unitseq"
                style="width: 100%"
                [(ngModel)]="data.SEQUENCE_NO"
                (keypress)="omit($event)"
                maxlength="5"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzNoColon> Status </nz-form-label>
            <nz-form-control>
              <nz-switch
                nzCheckedChildren="Active"
                nzUnCheckedChildren="Inactive"
                [(ngModel)]="data['STATUS']"
                [ngModelOptions]="{ standalone: true }"
              ></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button
      type="button"
      nz-button
      (click)="close()"
      class="ant-btn"
      style="margin-right: 8px"
    >
      <span> Cancel </span>
    </button>
   <button
  type="button"
  class="ant-btn ant-btn-primary"
  *ngIf="!data.ID"
  nz-button
  nz-dropdown
  [nzDropdownMenu]="menu"
  [nzLoading]="isSpinning"
  (click)="isSpinning = true; save(false, websitebannerPage)"
>
  <span> Save & Close</span>
</button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          class="menuc"
          style="border-radius: 4px; background-color: #40a9ff"
        >
          <a style="color: white" (click)="isSpinning = true; save(true, websitebannerPage)">
            Save & New</a
          >
        </li>
      </ul>
    </nz-dropdown-menu>
    <button
      type="button"
      class="ant-btn ant-btn-primary"
      nz-button
      [nzLoading]="isSpinning"
      *ngIf="data.ID"
      (click)="save(false, websitebannerPage)"
    >
      <span> Update & Close</span>
    </button>
  </div>
</div>
