<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <span
        (click)="back()"
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        style="font-weight: bold; cursor: pointer"
      ></span
      >&nbsp;&nbsp;
      <b>{{ formTitle }}</b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="12"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="aboutsearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder=" Search Record"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Zipcode
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24" style="width: 100%">
    <nz-table
     
      nzBordered
      #pincodemaster
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzScroll]="{ y: '350px' }"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
        style="width: 100%"
    >
      <thead>
        <tr>
          <th nzWidth="10px" style="text-align: center"><b> Action </b></th>
          <th
            nzColumnKey="{{ 'PINCODE' }}"
            [nzSortFn]="true"
            nzWidth="38px"
            style="text-align: center"
          >
            <b> Zipcode</b>
          </th>
          <th
            nzColumnKey="{{ 'SHIPPING_CHARGES' }}"
            [nzSortFn]="true"
            nzWidth="38px"
            style="text-align: center"
          >
            <b> Shipping Charges</b>
          </th>
          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="15px"
            style="text-align: center"
          >
            <b> Status </b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pincodemaster.data">
          <td style="text-align: center">
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              style="
                cursor: pointer;
                font-size: 15px !important;
                color: #5a8f69;
                margin-left: 8px;
              "
              nzTooltipTitle="Edit"
              nzTooltipPlacement="top"
              nz-tooltip
              (click)="edit(data)"
            >
            </span>
          </td>
          <td style="text-align: center ;white-space: pre-line">{{ data["PINCODE"] }}</td>
          <td style="text-align: center ; white-space: pre-line">{{ data["SHIPPING_CHARGES"] }}</td>
          <td style="text-align: center">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzClosable]="true"
  [nzMask]="true"
  [nzMaskClosable]="false"
  [nzWidth]="400"
  [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle"
  (nzOnClose)="drawerClose()"
  (nzKeyboard)="(true)"
>
  <ng-container *nzDrawerContent>
    <!-- <app-addunit [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"></app-addunit> -->

    <app-add-pincode-master
      [drawerClose]="closeCallback"
      [drawerVisible]="drawerVisible"
      [data]="drawerData"
    ></app-add-pincode-master>
  </ng-container>
</nz-drawer>
