
<div nz-row nzType="flex" >
    <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12" >
       <div class="formname" > <b> {{formTitle}} </b></div> 
    </div>
  
      <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex;justify-content: flex-end">
          <form nz-form [nzLayout]="'inline'">
                           <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" name="categorysearch" (keyup)="keyup($event)" [(ngModel)]="searchText" nz-input placeholder=" Search Record"  />
              </nz-input-group> 
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="search(true)" nzSearch><i nz-icon nzType="search"></i></button>
              </ng-template>
            </nz-form-item>
            <!-- <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" nzJustify="end">
                    <i nz-icon nzType="plus"></i>Add New Category
                  </button>
            </nz-form-item> -->
    
          </form>
        </div>
  </div>
  <br />
  <div nz-row >
    <div nz-col nzSpan="24" style="width: 100%;">
        <nz-table  
        nzBordered
        #cartitem
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataList"
        [nzLoading]="loadingRecords"
        [nzSize]="'small'"
        [nzScroll]="{ x: '1850px', y: '350px' }"
        [nzTotal]="totalRecords"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="search()"
        (nzPageSizeChange)="search(true)"
        (nzQueryParams)="sort($event)"
        style="width: 100%;"
      >
   
      <thead>
        <tr  >
           <!-- <th nzWidth="6px" style="text-align: center;"><b> Action </b></th>  -->
          <th nzColumnKey="{{ 'SEQUENCE_NO' }}"  nzWidth="15px" style="text-align: center;"><b>  Seq. No </b></th>
          
          <th nzColumnKey="{{ 'PRODUCT_NAME' }}" [nzSortFn]="true" nzWidth="40px" style="text-align: center;"><b>  Product Name </b></th>

          <th nzColumnKey="{{ 'QUANTITY' }}" [nzSortFn]="true" nzWidth="25px" style="text-align: center;"><b>   Quantity </b></th>

          <th nzColumnKey="{{ 'PRODUCT_SIZE' }}" [nzSortFn]="true" nzWidth="25px" style="text-align: center;"><b> Product Size</b></th>

          <th nzColumnKey="{{ 'PRODUCT_UNIT_NAME' }}" [nzSortFn]="true" nzWidth="35px" style="text-align: center;"><b> Product Unit Name </b></th>
         
          <th nzColumnKey="{{ 'PRODUCT_RATE' }}" [nzSortFn]="true" nzWidth="25px" style="text-align: center;"><b> Product Rate </b></th>
                     
          <th nzColumnKey="{{ 'VERIENT_SIZE' }}" [nzSortFn]="true" nzWidth="25px" style="text-align: center;"><b> Varient Size </b></th>
          <th nzColumnKey="{{ 'VERIENT_UNIT_NAME' }}" [nzSortFn]="true" nzWidth="35px" style="text-align: center;"><b> Varient Unit Name </b></th>

          <th nzColumnKey="{{ 'VERIENT_RATE' }}" [nzSortFn]="true" nzWidth="25px" style="text-align: center;"><b>   Varient Rate </b></th>

    
          <th nzColumnKey="{{ 'CART_STATUS' }}" [nzSortFn]="true" nzWidth="40px" style="text-align: center;"><b> Cart Status </b></th>
         
         
     </tr>
      </thead>
      <tbody> 
        <tr *ngFor="let data of cartitem.data ; let i = index" >
          <!-- <td style="text-align: center;">
            <a (click)="edit(data)">Edit</a>
          </td> -->
          <td style=" white-space: pre-line ;text-align: center;">{{i + 1}}</td>
          <!-- <td style=" white-space: pre-line ;text-align: center;">{{data['CUSTOMER_ID']}}</td> -->
          <td style=" white-space: pre-line ;text-align: left;">{{data['PRODUCT_NAME']}}</td>

          <td style=" white-space: pre-line ;text-align: center;">{{data['QUANTITY']}}</td>

          <td style=" white-space: pre-line ;text-align: right;">{{data['PRODUCT_SIZE']}}</td>
          <td style=" white-space: pre-line ;text-align: right;">{{data['PRODUCT_UNIT_NAME']}}</td>
          <td style=" white-space: pre-line ;text-align: right;">{{data['PRODUCT_RATE']}}</td>
          <td style=" white-space: pre-line ;text-align: right;">{{data['VERIENT_SIZE']}}</td>
          <td style=" white-space: pre-line ;text-align: right;">{{data['VERIENT_UNIT_NAME']}}</td>

          <td style=" white-space: pre-line ;text-align: right;">{{data['VERIENT_RATE']}}</td>


          <!-- <td style="text-align:center">
              <span *ngIf="data.CART_STATUS=='C'"> Cart</span>
              <span *ngIf="data.CART_STATUS=='O'"> Order</span>
              <span *ngIf="data.CART_STATUS=='L'"> Later</span>
              <span *ngIf="data.CART_STATUS=='R'"> Cancel order placed</span>

            </td> -->

            <td style="text-align:center">
              <span *ngIf="data.CART_STATUS=='C'"> Created</span>
              <span *ngIf="data.CART_STATUS=='P'"> Payment Done</span>
              <span *ngIf="data.CART_STATUS=='D'"> Discarded</span>
              <span *ngIf="data.CART_STATUS=='L'"> Later</span>
              <span *ngIf="data.CART_STATUS=='R'"> Cancel order </span>


            </td>
            <!-- <td style="white-space: pre-line; text-align: right;">{{data['ORDER_STATUS_ID']}}</td>  -->
            <!-- <td style="white-space: pre-line; text-align: right;">{{data['IS_AVILABLE_AT_PINCODE']}}</td> -->
            <!-- <td style="text-align:left">
              <span *ngIf="data.IS_AVILABLE_AT_PINCODE==1"> True</span>
              <span *ngIf="data.IS_AVILABLE_AT_PINCODE==0"> False</span>
            </td> -->


          
        </tr>
      </tbody>
      </nz-table>
      </div>
  </div>
<!--   
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="500"
  [nzVisible]="drawerVisible" [nzTitle]="drawerTitle" 
  (nzOnClose)="drawerClose()" (nzKeyboard)="true">
  <ng-container *nzDrawerContent>
  <app-addcategories [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"></app-addcategories>
  </ng-container>
  </nz-drawer> -->
  